<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>SB Admin - Start Bootstrap Template</title>
    <!-- Bootstrap core CSS-->
    <link href="/admin/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <!-- Custom fonts for this template-->
    <link href="/admin/vendor/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">
    <!-- Page level plugin CSS-->
    <link href="/admin/vendor/datatables/dataTables.bootstrap4.css" rel="stylesheet">
    <!-- Custom styles for this template-->
    <link href="/admin/css/sb-admin.css" rel="stylesheet">
</head>

<body class="fixed-nav sticky-footer bg-dark" id="page-top">
<!-- Navigation-->
<nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top" id="mainNav">
    <a class="navbar-brand" href="#">Admin Panel</a>
    <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarResponsive">
        <ul class="navbar-nav navbar-sidenav" id="exampleAccordion">
            <li class="nav-item" data-toggle="tooltip" data-placement="right" title="Tables">
                <a class="nav-link" href="#">
                    <i class="fa fa-fw fa-table"></i>
                    <span class="nav-link-text">Tables</span>
                </a>
            </li>
        </ul>
        <ul class="navbar-nav sidenav-toggler">
            <li class="nav-item">
                <a class="nav-link text-center" id="sidenavToggler">
                    <i class="fa fa-fw fa-angle-left"></i>
                </a>
            </li>
        </ul>
        <ul class="navbar-nav ml-auto">
            <li class="nav-item">
                <a class="nav-link" data-toggle="modal" data-target="#exampleModal">
                    <i class="fa fa-fw fa-sign-out"></i>Logout</a>
            </li>
        </ul>
    </div>
</nav>
<div class="content-wrapper">
    <div class="container-fluid">
        <!-- Example DataTables Card-->
        <div class="card mb-3">
            <div class="card-header">
                <i class="fa fa-table"></i> Data Table Example</div>
            <div class="card-body">
                <div class="table-responsive">
                    <div class="dataTables_wrapper container-fluid dt-bootstrap4">
                        <div class="row">
                            <div class="col-sm-12 col-md-6">
                                <div class="dataTables_length">
                                    <label>Show
                                        <select id="rows_per_page" class="form-control form-control-sm">
                                            <option selected="selected">10</option>
                                            <option>25</option>
                                            <option>50</option>
                                        </select> entries
                                    </label>
                                </div>
                            </div>
                            <div class="col-sm-12 col-md-6">
                                <div class="dataTables_filter">
                                    <label>Search: <input id="search" type="text" class="form-control form-control-sm"></label>
                                    <button type="button" id="addbtn" data-toggle="modal" data-target="#modal" class="btn btn-info">Add</button>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="dataTables_length">
                        <table class="table table-bordered dataTable" id="tbl" width="100%" cellspacing="0" role="grid" aria-describedby="dataTable_info" style="width: 100%;">
                            <thead>
                            <th id="header" class="notselected">id</th>
                            <th id="header" class="notselected">email</th>
                            <th id="header" class="notselected">firstName</th>
                            <th id="header" class="notselected">lastName</th>
                            <th id="header" class="notselected">roles</th>
                            <th id="header" class="notselected">active</th>
                            <th style="width: 130px;">Commands</th>
                            </thead>
                            <tfoot>
                            <tr>
                                <th>id</th>
                                <th>email</th>
                                <th>firstName</th>
                                <th>lastName</th>
                                <th>roles</th>
                                <th>active</th>
                                <th>Commands</th>
                            </tr>
                            </tfoot>
                            <tbody id="table-data">
                            <tr>
                                <td>9</td>
                                <td>mail@mail.ru</td>
                                <td>qwe</td>
                                <td>qwe</td>
                                <td>ROLE_USER</td>
                                <td>true</td>
                                <td >
                                    <button id="edit" class="btn btn-warning edit">Edit</button>
                                    <button id="delete" class="btn btn-danger delete">Delete</button>
                                </td>
                            </tr>
                            <tr>
                                <td>14</td>
                                <td>mail2@mail.ru</td>
                                <td>Mike</td>
                                <td>Tomson</td>
                                <td>ROLE_USER</td>
                                <td>true</td>
                                <td>
                                    <button id="edit" class="btn btn-warning edit">Edit</button>
                                    <button id="delete" class="btn btn-danger delete">Delete</button>
                                </td>
                            </tr>
                            <tr>
                                <td>15</td>
                                <td>mail4@mail.ru</td>
                                <td>q</td>
                                <td>q</td>
                                <td>ROLE_USER</td>
                                <td>true</td>
                                <td>
                                    <button id="edit" class="btn btn-warning edit">Edit</button>
                                    <button id="delete" class="btn btn-danger delete">Delete</button>
                                </td>
                            </tr>
                            <tr>
                                <td>16</td>
                                <td>mail3@maiil.ru</td>
                                <td>q</td>
                                <td>q</td>
                                <td>ROLE_USER</td>
                                <td>true</td>
                                <td>
                                    <button id="edit" class="btn btn-warning edit">Edit</button>
                                    <button id="delete" class="btn btn-danger delete">Delete</button>
                                </td>
                            </tr>
                            <tr>
                                <td>17</td>
                                <td>mail7@mail.ru</td>
                                <td>1</td>
                                <td>1</td>
                                <td>ROLE_USER</td>
                                <td>true</td>
                                <td>
                                    <button id="edit" class="btn btn-warning edit">Edit</button>
                                    <button id="delete" class="btn btn-danger delete">Delete</button>
                                </td>
                            </tr>
                            <tr>
                                <td>18</td>
                                <td>mail8@mail.ru</td>
                                <td>1</td>
                                <td>1</td>
                                <td>ROLE_USER</td>
                                <td>true</td>
                                <td>
                                    <button id="edit" class="btn btn-warning edit">Edit</button>
                                    <button id="delete" class="btn btn-danger delete">Delete</button>
                                </td>
                            </tr>
                            <tr>
                                <td>19</td>
                                <td>sendtrashthisway123@gmail.com</td>
                                <td>Vlad</td>
                                <td>Hlovatskij</td>
                                <td>ROLE_USER</td>
                                <td>false</td>
                                <td>
                                    <button id="edit" class="btn btn-warning edit">Edit</button>
                                    <button id="delete" class="btn btn-danger delete">Delete</button>
                                </td>
                            </tr>
                            <tr>
                                <td>22</td>
                                <td>m3@mail.ru</td>
                                <td>1</td>
                                <td>1</td>
                                <td>ROLE_USER</td>
                                <td>false</td>
                                <td>
                                    <button id="edit" class="btn btn-warning edit">Edit</button>
                                    <button id="delete" class="btn btn-danger delete">Delete</button>
                                </td>
                            </tr>
                            <tr>
                                <td>24</td>
                                <td>m5@mail.ru</td>
                                <td>1</td>
                                <td>1</td>
                                <td>ROLE_USER</td>
                                <td>false</td>
                                <td>
                                    <button id="edit" class="btn btn-warning edit">Edit</button>
                                    <button id="delete" class="btn btn-danger delete">Delete</button>
                                </td>
                            </tr>
                            <tr>
                                <td>25</td>
                                <td>modal@mail.ru</td>
                                <td>modal</td>
                                <td>modal</td>
                                <td>ROLE_ADMIN</td>
                                <td>false</td>
                                <td>
                                    <button id="edit" class="btn btn-warning edit">Edit</button>
                                    <button id="delete" class="btn btn-danger delete">Delete</button>
                                </td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
                <div class="dataTables_wrapper container-fluid dt-bootstrap4">
                    <div class="row">
                        <div class="col-sm-12 col-md-5">
                            <div id="pages" class="pages"><a id="cur" class="cur_page">1</a><a id="all">Showing 1 to 10 of 10 entries</a></div>
                        </div>
                        <div class="col-sm-12 col-md-7">
                            <div class="dataTables_paginate paging_simple_numbers">
                                <ul class="pagination">
                                    <li class="paginate_button page-item previous disabled" id="dataTable_previous"><a href="#" aria-controls="dataTable" data-dt-idx="0" tabindex="0" class="page-link">Previous</a></li>
                                    <li class="paginate_button page-item active"><a href="#" aria-controls="dataTable" data-dt-idx="1" tabindex="0" class="page-link">1</a></li>
                                    <li class="paginate_button page-item"><a href="#" aria-controls="dataTable" data-dt-idx="2" tabindex="0" class="page-link">2</a></li>
                                    <li class="paginate_button page-item next" id="dataTable_next"><a href="#" aria-controls="dataTable" data-dt-idx="3" tabindex="0" class="page-link">Next</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</div>
</div>
<!-- /.container-fluid-->
<!-- /.content-wrapper-->
<footer class="sticky-footer">
    <div class="container">
        <div class="text-center">
            <small>Copyright © Your Website 2018</small>
        </div>
    </div>
</footer>
<!-- Scroll to Top Button-->
<a class="scroll-to-top rounded" href="#page-top">
    <i class="fa fa-angle-up"></i>
</a>
<!-- Logout Modal-->
<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Ready to Leave?</h5>
                <button class="close" type="button" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">×</span>
                </button>
            </div>
            <div class="modal-body">Select "Logout" below if you are ready to end your current session.</div>
            <div class="modal-footer">
                <button class="btn btn-secondary" type="button" data-dismiss="modal">Cancel</button>
                <a class="btn btn-primary" href="#">Logout</a>
            </div>
        </div>
    </div>
</div>
<!-- Bootstrap core JavaScript-->
<script src="/admin/vendor/jquery/jquery.min.js"></script>
<script src="/admin/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
<!-- Core plugin JavaScript-->
<script src="/admin/vendor/jquery-easing/jquery.easing.min.js"></script>
<!-- Page level plugin JavaScript-->
<script src="/admin/vendor/datatables/jquery.dataTables.js"></script>
<script src="/admin/vendor/datatables/dataTables.bootstrap4.js"></script>
<!-- Custom scripts for all pages-->
<script src="/admin/js/sb-admin.min.js"></script>
<!-- Custom scripts for this page-->
<script src="/admin/js/sb-admin-datatables.min.js"></script>
</div>
</body>

</html>
