{# templates/emails/registration.html.twig #}
<h3>Password Recovery!</h3>

{# example, assuming you have a route named "login" #}
To recover your password, click: <a href="http://quiz.dev/recovery?email={{ email }}">here</a>.
