{% extends 'main.html.twig' %}

{% block menuactive %}
    <li id="home">
        <a href="{{ path('main') }}">Main</a>
    </li>
{% endblock %}

{% block css %}
    <link rel="stylesheet" type="text/css" href="/finish_reg/css/style.css">
{% endblock %}

{% block pagecontent %}
    <div class="mainContentLayout">
    <div class="message">
    <h2>{{ mes_one }}</h2>
    <h5>{{ mes_two }}</h5>
    </div>
    </div>
{% endblock %}


{% block exit %}
{% endblock %}
{% block scripts %}
{% endblock %}