<html>
<head>
    <title>Quiz</title>
    <meta charset="utf-8">
    <link rel="stylesheet" type="text/css" href="/mainpage/css/style.css">
    <script src="/js/jquery-3.3.1.min.js"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap-theme.min.css">
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="/login/js/jquery.ajaxgrid.js"></script>
</head>
<body style="background-color:#626992;">
<header>
    <div class="fixed-top">
        <div id="menu-container" class="centered">
            <ul>
                <li id="home_active" class="">
                    <a href="#">Main</a>
                </li>
                <li id="lectures" class="active">
                    <a href="#">My quiz</a>
                </li>
            </ul>
            <div class="right">
                <ul>
                    <li>
                        <a href="#">Logout</a>
                    </li>
                </ul>
            </div>
        </div>
</header>
<div class="ContentLayout">
    <p class="for_p">Not finished</p>
    <div class="searchBlock">
        <table class="table table-inverse style_table" id="recenttbl" width="100%" cellspacing="0" role="grid" aria-describedby="dataTable_info">
            <thead>
            <th id="header" class="notselected">Name</th>
            <th>Time</th>
            <th>MadeAnser</th>
            <th style="width: 80px;">Play</th>
            </thead>
            <tbody>
            <tr>
                <td>Мыло на мыло</td>
                <td>4:11</td>
                <td>4/10</td>
                <td >
                    <button id="edit" class="btn btn-warning edit">continue</button>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
<div class="mainContentLayout">
    <h1 style="color: #fff;">Quiz list</h1>
    <br>
    <div class="searchBlock" id="entities-grid">
    </div>
</div>

</body>
</html>

<script>
    $('div#entities-grid').ajaxgrid({
        'url':'http://quiz.dev/ajax/quiz',
        'table':'quiz',
        'showFields':['name'],
        'filterableFields':['name'],
        'mode':0
    })
</script>