<html>
<head>
    <title>Quiz</title>
    <meta charset="utf-8">
    <link rel="stylesheet" type="text/css" href="/play_quiz/css/style.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap-theme.min.css">
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>
    <!--For Time-->
    <link rel="stylesheet" href="css/flipclock.css">
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
    <script src="js/flipclock.js"></script>
</head>
<body style="background-color:#626992;">
<header>
    <div class="fixed-top">
        <div id="menu-container" class="centered">
            <ul>
                <li id="home" class="">
                    <a href="index_main.html">Главная</a>
                </li>
                <li id="lectures" class="active">
                    <a href="#">Викторины</a>
                </li>
            </ul>
            <div class="right">
                <ul>
                    <li>
                        <a href="#">Выйти</a>
                    </li>
                </ul>
            </div>
        </div>
</header>
<div class="mainContentLayout">
    <h3 style="color: #fff;">Головой по голове</h3>
    <div class="bodyLayout">
        <div class="bodyLayout__CenterCol">
            <h3 class="msrg_h3">1/10</h3>
            <div class="infoBlock infoBlock--center">
                <div class="gameDetails__TextCol">
                    <h3 style="color: #fff;">Что ты такое?</h3>
                </div>
                <div class="answerButton">
                    <div class="answerButton__LeftLine">
                        <input type="radio" name="option" id="radio1" />
                        <div for="radio1" class="answerButton__Text">
                            <label for="radio1" class="marg-style">Дух Грядущего Рождества</label>
                        </div>
                    </div>
                </div>
                <div class="answerButton">
                    <div class="answerButton__LeftLine">
                        <input type="radio" name="option" id="radio2" />
                        <div for="radio2" class="answerButton__Text">
                            <label for="radio2" class="marg-style">Дух Настоящего Рождества</label>
                        </div>
                    </div>
                </div>
                <div class="answerButton">
                    <div class="answerButton__LeftLine">
                        <input type="radio" name="option" id="radio3" />
                        <div for="radio3" class="answerButton__Text">
                            <label for="radio3" class="marg-style">Дух Прошлого Рождества</label>
                        </div>
                    </div>
                </div>
                <div class="answerButton">
                    <div class="answerButton__LeftLine">
                        <input type="radio" name="option" id="radio4" />
                        <div for="radio4" class="answerButton__Text">
                            <label for="radio4" class="marg-style">Он и не подумал исправляться!</label>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="bodyLayout__RightCol">
            <div class="infoBlock infoBlock--right infoBlock--rules">
                <div class="gameRules">
                    <div class="gameRules__Header">Как играть:</div>
                    <ol>
                        <li class="gameRules__ListItem">Как только игра будет запущена, Вам будет показан вопрос и несколько вариантов ответа.
                            <ul>
                                <li class="lis_style_type_circle">Может быть только один правильный ответ</li>
                            </ul>
                        </li>
                        <li class="gameRules__ListItem">Выход из непроденной игры будет автоматические сохранён
                            <ul>
                                <li class="lis_style_type_circle">Прожолжить игру можно будет перейдя по вкладке "Викторины"</li>
                            </ul>
                        </li>
                        <li class="gameRules__ListItem">В конце игры Вам будет показан Лидерборд.</li>
                    </ol>
                </div>
            </div>
        </div>
    </div>

</div>
</body>
</html>